<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${beer.type} | Brewski Buddy`}) %>
    <link rel="stylesheet" href="/styles/beer-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2 class="text-4xl font-bold mb-2">Beer Overview</h2>
        <h3 class="text-xl">Check out some details about this Brewski!</h3>
    </section>

    <main>
        <div class="beer bg-gray-100 py-8">
            <img src="<%= beer.photo %>" class="w-1/2 h-auto mb-4">
                <div class="container mx-auto px-4">
                    <h2 class="text-3xl font-semibold mb-2"><%= beer.type %></h2>
                
                    <div class="content">
                        <p class="mb-2"><strong>Alcohol By Volume (ABV):</strong> <%= beer.alcoholByVolume %></p>
                        <p class="mb-2"><strong>Description:</strong> <%= beer.description %></p>
                        <p class="mb-2"><strong>Rating:</strong> <%= beer.rating %></p>
                        <p class="mb-2"><strong>Variations:</strong> <%= beer.variations %></p>
                        <p class="mb-4"><strong>Food Pairings:</strong> <%= beer.foodPairing %></p>
                    </div>
            
                    <div class="actions">
                        <button class="btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4">
                        <a href="/reviews/new/<%= beer._id %>">Review</a>
                        </button>
                    </div>
                </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>

    </body>
        
</html>
