<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit ${beer.type} | Brewski Buddy`}) %>
    <link rel="stylesheet" href="/styles/beer-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Edit Beer Form</h1>

    <form method="POST" action="/beers/<%= beer._id %>?_method=PUT">
        <!-- Type input -->
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="<%= beer.type %>" required>
        <br>
        <!-- alcoholByVolume input -->
        <label for="alcoholByVolume">Alcohol By Volume (ABV):</label>
        <input type="text" id="alcoholByVolume" name="alcoholByVolume"  value="<%= beer.rating %>" required>
        <br>
        <!-- Photo input -->
        <label for="photo">Photo (URL):</label>
        <input type="text" id="photo" name="photo" value="<%= beer.photo %>" required>
        <br>
        <!-- discription input -->
        <label for="discription">Discription:</label>
        <input type="text" id="discription" name="discription" value="<%= beer.discription %>">
        <br>
        <!-- rating input-->
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" value="<%= beer.rating %>" required>
        <br>
        <!-- variations input -->
        <label for="variations">Variations:</label>
        <input type="text" id="variations" name="variations" value="<%= beer.variations %>">
        <br>
        <!-- foodPairings input -->
        <label for="foodPairings">Food Pairings:</label>
        <input type="text" id="foodPairings" name="foodPairings" value="<%= beer.foodPairings %>">
        <br>
        <!-- Submit button -->
        <input type="submit" value="edit beer">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>