<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Brewski Buddy'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Get Ready to go on a Hop-ortunity of a lifetime!</h2>
            <a href="/beers" class="btn">Take a look around!</a>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>Get ready to indulge in a selection of flavorful brews that are sure to tantalize your taste buds. Whether you're a seasoned beer connoisseur or a newbie to the scene, this assortment of beers has something for everyone. 
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <section class="featured-beers">
            <h2>Featured beers</h2>
            <ul class="beer-grid">
                <% for (let beer of beers) { %>
                <li>
                    <figure>
                        <img src="<%= beer.photo %>" alt="brew">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= beer.type %></h3>
                            <p>Alcohol By Volume (ABV): <%= beer.alcoholByVolume %> % </p>
                        </div>
                        <a href="/beers/<%= beer._id %>" class="btn">Learn More</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>