<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Reviews | Brewski Buddy'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/rev-index.css">
</head>

<body>
    <div id="wrapper"
    <%- include('../partials/nav.ejs') %>

        <section class="hero">
            <h2 class="text-4xl font-bold mb-2">My Reviews</h2>
            <h3 class="text-xl">Check out your beer reviews!</h3>
        </section>

        <main>
            <section class="listings py-8">
                <div class="container mx-auto px-4 flex flex-wrap justify-center">
                    <% for (let app of revs) { %>
                        <div class="max-w-sm w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 p-4">
                            <div class="review-card bg-white rounded-lg shadow-md">
                                <h4 class="text-lg font-semibold mb-2"><%= app.reviewer %></h4>
                                <h5 class="text-base"><%= app.beerType %><br><%= app.title %></h5>
                                <a href="/reviews/<%= app._id %>" class="btn bg-yellow-800 hover:bg-gray-600 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow">Read More</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </section>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>

</html>
