<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Reviews | Brewski Buddy'}) %>
    <link rel="stylesheet" href="/styles/beer-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <ul>
                <% for (let rev of revs) { %>
                <li>
                    <h4><%= app.reviewerName %> - <%= app.reviewerTitle %></h4>
                    <p>Created: <%= app.reviewDate.toDateString() %></p>
                    <a href="/reviews/<%= app._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>